#!/bin/bash

QUACK_ROOT="/NOT/FOUND"
    case "$(ps -p $$ -ocomm=)" in
    "zsh")
        QUACK_ROOT=$(dirname $0)
    ;;
    *)
        QUACK_ROOT=$(dirname ${BASH_SOURCE})[0]
    ;;
esac

export QUACK_ROOT="$( cd $QUACK_ROOT; pwd -P )"

export PATH=${QUACK_ROOT}/bin:$PATH

